{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detect</title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <style>
body {
  background-image: url("/static/image/plant.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<h1><center>AgriDoc</center></h1>


</head>
<body>

<table border="0" align="center" cellspacing="10" bgcolor="grey" style="border:10px solid white;box-shadow:0px 0px 10px  black;color:white;font-family:monotype corsiva;
font-size:30px;margin-top:70px;opacity:0.8" >

<form action = 'predict' method = "post" enctype = "multipart/form-data">
{% csrf_token %}

<tr>
<td><h4>Upload leaf images to Predict </h4></td>
</tr>

<tr>
  <td>Upload Photo</td>
  <td><input type="file" name='cd'></td>
</tr>


<tr>
  <td><input type="submit" value="Upload">
      <input type="reset" value="Clear">
  </td>
</tr>

</form>

</table>
</br>
<p align="center">
    <marquee bgcolor="#008080" behavior="alternate" direction="right" width="50%" ><font color="white" >Only upload images of these plants leafs </marquee>
</p>
<table border="10"  bordercolor="black" align="center" width="50%" height="10%" cellspacing="20" cellpadding="3" bgcolor="orange">


<tr align="center">
<td>Blueberry</td>
<td>cherry</td>
<td>Grape</td>
<td>Pepper</td>
<td>Tomato</td>
<td>Soyabean</td>
</tr>
<tr align="center">
<td>Potato</td>
<td>Peach</td>
<td>oranage</td>
<td>Corn</td>
<td>Strawberry</td>
<td>Squach</td>
</tr>
</table>

</body>
</html>